body{
    height: 1000px;
    position: relative;
}
.photo{
    background-color: black;
    position: relative;
    height: 40%;
}
 .photo::after {
    position: absolute;
    content: 'sss';
    bottom: 0;
    right: 0;
    left: 0;
    color: aliceblue;
    background-image:url(/Mealify/images/team-shape.svg);
    padding-block: 20px;
    height:10% ;   
    border: 0;
}
