.parent {
    width: 400px;
    height: 400px;
    background-color: yellow;
}

.grand {
    width: 700px;
    height: 700px;
    background-color: wheat;
}

.child {
    width: 200px;
    height: 200px;
    background-color: aqua;
    transition: width 1s, height 2s, background-color 3s, border-radius 4s;
    transition-timing-function: cubic-bezier(.7, -0.65, .05, 1.2);
}

.grand:hover .child {
    width: 300px;
    height: 300px;
    background-color: tomato;
    border-radius: 50%;
}